#achievementNotif {
    transition: right 1s;
    right: -405px;
    top: 0;
    position: fixed;
}

.achievement {
    width: 400px;
    background-color: rgb(33, 33, 33);
    border: 5px solid rgb(85, 85, 85);
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    color: white;
    margin: 5px;
}

.achievement img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    image-rendering: pixelated;
}

.achievement #bruh {
    color: rgb(237, 140, 246);
}

.achievement p {
    margin: 0;
}

.achievement div {
    display: inline-block;
    vertical-align: middle;
}