body {
    background-image: url("img/pixil-frame-0.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

#playScreen {
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#title {
    height: 200px;
    font-size: 68px;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: rgb(2, 57, 255) 1px 0 5px;
}

button {
    background: none;
    border: none;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    margin: 0px 5px 0px;
    background-color: #0a1728;
    color: white;
    font-size: 25px;
    border-radius: 5px;
}

#playButton {
    width: 175px;
    height: 50px;
}

#quitButton {
    width: 175px;
    height: 50px;
}

#gameEmblem {
    width: 100px;
    height: 50px;
    background-color: skyblue;
    text-decoration: none;
}


/* Sprites */
/* Player Sprites */
#starterPlayerSprite{
    width: 50px;
    height: 30px;
    /* color only for test, please edit the "playerSprite after test,
implementing designed player sprite */
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
}
#woodenBoatSprite{
    width: 50px;
    height: 30px;
    /* color only for test, please edit the "woodenBoatSprite" after test,
implementing designed wooden boat sprite */
    background-color: burlywood;
    position: absolute;
    top: 50%;
    left: 50%;
}
#pirateShipSprite{
    width: 50px;
    height: 30px;
    /* color only for test, please edit the "pirateShipSprite" after test,
implementing designed pirate ship sprite */
    background-color: brown;
    position: absolute;
    top: 50%;
    left: 50%;
}
#fishSprite{
    width: 20px;
    height: 10px;
    /* color only for test, please edit the "fishSprite" after test,
implementing designed fish sprite */
    background-color: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
}
#trashPileCurrencyOne{
    width: 20px;
    height: 10px;
    /* color only for test, please edit the "trashPileCurrency" 
after test, implementing designed trash pile currency */
    background-color: darkgreen;
    position: absolute;
    top: 50%;
    left: 50%;
}
#trashPileCurrencyTwo{
    width: 20px;
    height: 10px;
    /* color only for test, please edit the "trashPileCurrency" 
after test, implementing designed trash pile currency */
    background-color: green;
    position: absolute;
    top: 50%;
    left: 50%;
}
#trashPileCurrencyThree{
    width: 20px;
    height: 10px;
    /* color only for test, please edit the "trashPileCurrency" 
after test, implementing designed trash pile currency */
    background-color: lightgreen;
    position: absolute;
    top: 50%;
    left: 50%;
}